[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"
[[redirects]]
  from = "/api/eligibility"
  to   = "/.netlify/functions/eligibility"
  status = 200
  force = true
